<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nodejs app for ATN</title>
  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- google font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=vietnamese" rel="stylesheet">
  <!-- custom css -->
  <link rel="stylesheet" href="/stylesheets/layout.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">ATN admin 🔐</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item {{#ifCond route "===" "customers"}}active{{/ifCond}}">
            <a class="nav-link" href="/customers">Customers</a>
          </li>
          <li class="nav-item {{#ifCond route "===" "invoices"}}active{{/ifCond}}">
            <a class="nav-link" href="/invoices">Invoices</a>
          </li>
          <li class="nav-item {{#ifCond route "===" "retail-stores"}}active{{/ifCond}}">
            <a class="nav-link" href="/retail-stores">Retail stores</a>
          </li>
          <li class="nav-item {{#ifCond route "===" "inventory"}}active{{/ifCond}}">
            <a class="nav-link" href="/inventory">Inventory</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div id="pageContent" class="container-fluid pt-3">
    {{{body}}}
  </div>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- include the updatemybrowser.org widget -->
  <script>
    (function (u) {
      var s = document.createElement('script'); s.async = true; s.src = u;
      var b = document.getElementsByTagName('script')[0]; b.parentNode.insertBefore(s, b);
    })('//updatemybrowser.org/umb.js');
  </script>
  <!-- custom js -->
  <script src="/javascripts/layout.js"></script>
  {{!-- #descriptionText rendered at route /inventory needs rich-text editor markup --}}
  {{#ifCond route "===" "inventory"}}
    <script src="https://cdn.tiny.cloud/1/cphv0pqzyxu42f97hfmnnzt003z189kgm4azuxbpisajxhcl/tinymce/5/tinymce.min.js"
      referrerpolicy="origin"></script>
    <script src="/javascripts/tinymce-init.js"></script>
    <script src="/javascripts/client-inventory.js"></script>
  {{/ifCond}}
</body>

</html>
