<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to ATN Admin</h1>
    <p class="lead">
        This simple prototype of Node.js app aims to facilitate the management of customer data, their related invoices, and inventory <br>
        as well as demonstrate the power of cloud compmuting in order to tempt the stakeholders at ATN to invest more for it.
    </p>
  </div>
</div>
