* {
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

#successAlert, #failureAlert {
    display: none;
}

.fixed-top-center {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1100;
}

.centered {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
